@import "tailwindcss";

:root {
  --seed: #63a002;
  --primary: #4c662b;
  --on-primary: #ffffff;
}

@theme inline {
  --color-seed: var(--seed);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --seed: #63a002;
    --primary: #b1d18a;
    --on-primary: #1f3701;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
